.bookmark-icon {
    top: -6px;
    right: 10px;
    font-size: 22px;
    opacity: 0.5;
    z-index: 10;
    cursor: pointer;
}

.bookmark-icon.bookmarked {
    opacity: 1;
}

.remove-icon {
    top: 0;
}

.gif-container {
    min-height: 100px;
}

.card-text {
    text-shadow: rgb(25%, 25%, 25%) 0px 2px 10px;
}